# Ignorar los archivos generados por Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Ignorar los archivos específicos de los proyectos de Unity
/*.sln
/*.csproj
/*.unityproj
/*.apk
/*.unitypackage
/*.dll

# Ignorar los archivos meta de Unity
*.meta
